dify/LP生成v2-workflow.yml
app:
  description: ''
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: workflow
  name: "LP\u751F\u6210v2-workflow"
kind: app
version: 0.1.0
workflow:
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - remote_url
        - local_file
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      configs: []
      enabled: false
      type: ''
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: start-llm
      source: start
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: llm-source-1726540050487-target
      source: llm
      sourceHandle: source
      target: '1726540050487'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1726540050487-source-1726540070538-target
      source: '1726540050487'
      sourceHandle: source
      target: '1726540070538'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1726540070538-source-end-target
      source: '1726540070538'
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: true
        title: START
        type: start
        variables:
        - default: ''
          description: null
          hint: null
          label: Query
          max_length: null
          options: null
          required: false
          type: paragraph
          variable: query
        - label: item
          max_length: 48
          options: []
          required: true
          type: paragraph
          variable: item
        - label: contents
          max_length: 48
          options: []
          required: true
          type: paragraph
          variable: contents
        - label: target
          max_length: 48
          options: []
          required: true
          type: paragraph
          variable: target
      height: 167
      id: start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: null
        memory: null
        model:
          completion_params:
            stop: []
          mode: chat
          name: anthropic.claude-3-5-sonnet-20240620-v1:0
          provider: bedrock
        prompt_template:
        - id: fd9f96e2-79a0-4cbf-9436-7deacf988979
          role: user
          text: "{{#start.query#}}\n\u3042\u306A\u305F\u306F\u3042\u308B<item></item>\u3092\
            \u8A34\u6C42\u3059\u308BLP\u3092\u4F5C\u6210\u3059\u308B\u30E1\u30C7\u30A3\
            \u30A2\u30E9\u30A4\u30BF\u30FC\u3067\u3059\u3002 <target></target>\u306B\
            <item></item>\u3092\u4F7F\u3063\u305F<contents></contents>\u306E\u9B45\
            \u529B\u3092\u4F1D\u3048\u305F\u3044\u3067\u3059\u3002\u305D\u306E\u305F\
            \u3081\u306ELP\u306E\u69CB\u6210\u3068\u306A\u308B\u898B\u51FA\u3057\u30EA\
            \u30B9\u30C8\u3092\u4F5C\u6210\u3057\u3066\u304F\u3060\u3055\u3044\u3002\
            \n\n<item>\n{{#start.item#}}\n</item>\n\n<contents>\n{{#start.contents#}}\n\
            </contents>\n\n<target>\n{{#start.target#}}\n</target>"
        selected: false
        title: "\u898B\u51FA\u3057\u30EA\u30B9\u30C8\u4F5C\u6210"
        type: llm
        vision:
          configs:
            detail: high
          enabled: true
      height: 97
      id: llm
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      type: custom
      width: 244
    - data:
        outputs:
        - value_selector:
          - '1726540070538'
          - text
          variable: result
        selected: false
        title: END
        type: end
      height: 89
      id: end
      position:
        x: 1280
        y: 282
      positionAbsolute:
        x: 1280
        y: 282
      selected: false
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: anthropic.claude-3-5-sonnet-20240620-v1:0
          provider: bedrock
        prompt_template:
        - id: f32770f8-e056-4b67-94f0-1553916afeb4
          role: system
          text: ''
        - id: ac90a732-9dcf-478e-9842-12fd30c8a0e8
          role: user
          text: "<section></section>\u306BLP\u306E\u69CB\u6210\u898B\u51FA\u3057\u30EA\
            \u30B9\u30C8\u304C\u3042\u308A\u307E\u3059\u3002\u5B9F\u969B\u306B\u5404\
            \u30BB\u30AF\u30B7\u30E7\u30F3\u306B\u3001\u898B\u51FA\u3057\u3068\u672C\
            \u6587\u306B\u30C0\u30DF\u30FC\u60C5\u5831\u3092\u5165\u308C\u3066\u304F\
            \u3060\u3055\u3044\u3002\n<section>\n{{#llm.text#}}\n</section>"
        selected: false
        title: "\u30C0\u30DF\u30FC\u60C5\u5831\u751F\u6210"
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 97
      id: '1726540050487'
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: anthropic.claude-3-5-sonnet-20240620-v1:0
          provider: bedrock
        prompt_template:
        - id: 1e8ac0ec-2bf1-4853-be5a-4ff70cf94d43
          role: system
          text: ''
        - id: 21d95b79-1fa4-4e20-90f2-23da033152a1
          role: user
          text: "<content></content>\u3092\u5143\u306B\u3001LP \u3092\u4F5C\u6210\u3057\
            \u3066\u304F\u3060\u3055\u3044\u3002\n\n\u4F5C\u6210\u306B\u306F<rule></rule>\u306B\
            \u5F93\u3063\u3066\u304F\u3060\u3055\u3044\u3002HTML \u3068 Style \u306E\
            \u307F\u3092\u51FA\u529B\u3057\u3066\u304F\u3060\u3055\u3044\u3002\u305D\
            \u308C\u4EE5\u5916\u306F\u51FA\u529B\u3057\u306A\u3044\u3067\u304F\u3060\
            \u3055\u3044\u3002\n<rule>\n- \u51FA\u529B\u306FHTML\u3068\u3001\u305D\
            \u308C\u3092\u4FEE\u98FE\u3059\u308B\u305F\u3081\u306EStyle\u306E\u307F\
            \u3092\u51FA\u529B\u3057\u3066\u304F\u3060\u3055\u3044\u3002\n- \u30AB\
            \u30E9\u30D5\u30EB\u306A\u30B9\u30BF\u30A4\u30EB\u3067\u751F\u6210\u3057\
            \u3066\u304F\u3060\u3055\u3044\u3002\n</rule>\n<content>{{#1726540050487.text#}}</content>\n\
            \ "
        selected: false
        title: "HTML\u751F\u6210"
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 97
      id: '1726540070538'
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -29
      y: 116
      zoom: 1
